

body {
    background-color: black;
}

#header {
    margin-bottom: 1em;
}

.card {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color:   yellow;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.card-title {
    font-weight: bolder;
    font-size: 1em;

}

.card-body {
    position: relative;
    left: 50px;
}


