.wrapper {
    position: relative;

body {
    background-color: black;
}

#header {
    margin-bottom: 1em;
}

#ash {
    width: 75%;
    margin-left: 200px;
    height: 200px;
    position: relative;
    border-radius: 30px;
}

.card {
    position: absolute;
    margin-right: 400px;
    background-color:   yellow;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.card-title {
    font-weight: bolder;
    font-size: 1em;

}

.card-body {
    position: relative;
    left: 50px;
}

.attackOne {
    position: absolute;
    top: 50%;
    color: rgb(223, 92, 92);
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(12deg);
    left: 1200px;
    text-shadow: 1px 1px blue;
}

.attackTwo {
    position: absolute;
    top: 50%;
    color: rgb(194, 162, 162);
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(10deg);
    left: 400px;
    text-shadow: 1px 1px blueviolet;
}

.attackThree {
    position: absolute;
    top: 65%;
    color: white;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(-8deg);
    left: 200px;
    text-shadow: 1px 1px yellow;
}

.attackFour {
    position: absolute;
    top: 70%;
    color: white;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(-20deg);
    left: 1200px;
    text-shadow: 1px 1px green;
    
}

.backImage {
    position: absolute;
    top: 65%;
    left: 700px;
    height: auto;
    max-width: 25%;
    
}

