
body {
    background-color: black;
    position: relative;
}

#header {
    margin-bottom: 1em;
}

#ash {
    width: 75%;
    height: 325px;
    position: relative;
    left: 200px;
    border-radius: 30px;
}

.card {
    position: relative;
    background-color:   yellow;
    border-radius: 25px;
    border-color: black;
    border-width: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.card-title {
    font-weight: bolder;
    font-size: 1em;

}

.card-body {
    position: relative;
}

.attackOne {
    position: absolute;
    top: 50%;
    color: rgb(223, 92, 92);
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(12deg);
    left: 350px;
    text-shadow: 1px 1px blue;
}

.attackTwo {
    position: absolute;
    top: 50%;
    color: rgb(194, 162, 162);
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(10deg);
    left: 375px;
    text-shadow: 1px 1px blueviolet;
}

.attackThree {
    position: absolute;
    top: 65%;
    color: white;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(-8deg);
    left: 800px;
    text-shadow: 1px 1px yellow;
}

.attackFour {
    position: absolute;
    top: 70%;
    color: white;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(-20deg);
    left: 775px;
    text-shadow: 1px 1px green;
    
}

.backImage {
    position: absolute;
    top: 300%;
    left: 700px;
    height: auto;
    max-width: 25%;
    
}

